* {
    margin: 0;
    padding: 0;
}

.titulo {
    margin-top: 30px;
    text-align: center;
}

.botao-salvar {
    position: fixed;
    right: 15px;
    bottom: 15px;
}

.formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15%;
}

.campo {
    width: 100%;
}

.prioridade-opcoes {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}